#root {
  text-align: center;
  margin-top: 100px; 
}

.cell {
  border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 1px;
    cursor: pointer;
}

.cell.selected { 
  background-color: red;
}

.cell.next {
  background-color: green;
}

.row {
  display: flex;
  justify-content: center;
}